saves/
savefiles/
auto-save-list
elpa
/ido.last
bookmarks
/projectile-bookmarks.eld
recentf

eln-cache/
transient/

custom.el

# Compiled elisp files
*.elc

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
